body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  
  margin-bottom: 20px;
  align-items: center;
  height: 50px;
  font-size: calc(1vw*5);
  background-color: bisque;
}

h1 {
  text-align: center; 
  margin: 0;
  font-size: 1em;
}

a {
  color: inherit;
  text-decoration: none;
}



.word-line {
  
  margin: 5vh 1vh 5vh 1vh;
  font-size: calc(1vw*5);
  display: flex;
  align-items: center;
  /*justify-content: space-around;*/
  flex-wrap: wrap;
  justify-content: space-evenly;
}


.word {
  margin: 10px;
  padding: 5px;
  box-sizing: border-box;
  width: 45%;
  text-align: center;
  border: 3px solid grey;
  border-radius: 15px;
}

.translation {
  margin: 10px;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  width: 45%;
  border: 3px solid grey;
  border-radius: 15px;
}

.help {
  margin: 10px;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  border: 3px solid grey;
  border-radius: 15px;
} 






.translation:hover {
  color: black;
}

.help:hover {
  color: black;
}

.translation:focus {
  color: black;
}

.help:focus {
  color: black;
}

.help:visited {
  color: red;
}

.click_me::before {
  content: 'слово на русском';
}

.clicked::before {
  content: 'слово на португ';
}

.visible {
  opacity: 1;
}

.invisible {
  opacity: 0;
}

.invisible-div {
  visibility:hidden;
}